{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <a href="{{ path('blog_index') }}">Назад</a>

    <p>ID {{ id }}</p>
    <h3>{{ post.title }}</h3>
    <p>{{ post.text }}</p>
    {{ 1000|price }}
{% endblock %}